.hero {
  height: 100vh;
  background-color: #FEDE00;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center {
  color: #282120;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  .content {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
  }

  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }